@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

@font-face {
    font-family: Arabic;
    font-display: swap;
    src: local('Arabic-Light'), local('Arabic-Light'),
    url(../webfonts/Arabic-Light.woff2) format('woff2'),
    url(../webfonts/Arabic-Light.woff) format('woff'),
    url(../webfonts/Arabic-Light.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Arabic;
    font-display: swap;
    src: local('Arabic-Regular'), local('Arabic-Regular'),
    url(../webfonts/Arabic-Regular.woff2) format('woff2'),
    url(../webfonts/Arabic-Regular.woff) format('woff'),
    url(../webfonts/Arabic-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Arabic;
    font-display: swap;
    src: local('Arabic-Bold'), local('Arabic-Bold'),
    url(../webfonts/Arabic-Bold.woff2) format('woff2'),
    url(../webfonts/Arabic-Bold.woff) format('woff'),
    url(../webfonts/Arabic-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Arabic;
    font-display: swap;
    src: local('Arabic-Heavy'), local('Arabic-Heavy'),
    url(../webfonts/Arabic-Heavy.woff2) format('woff2'),
    url(../webfonts/Arabic-Heavy.woff) format('woff'),
    url(../webfonts/Arabic-Heavy.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Kermes;
    font-style: normal;
    font-weight: 300;
    src: url(../webfonts/Kermes-Light.woff) format('woff');
}

@font-face {
    font-family: Kermes;
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/Kermes-Regular.woff) format('woff');
}

@font-face {
    font-family: Kermes;
    font-style: normal;
    font-weight: 600;
    src: url(../webfonts/Kermes-SemiBold.woff) format('woff');
}

@font-face {
    font-family: Kermes;
    font-style: normal;
    font-weight: 700;
    src: url(../webfonts/Kermes-Bold.woff) format('woff');
}

html,
body {
    font-family: 'Vazirmatn', 'Arabic', 'Kermes', 'Hind Madurai', 'Montserrat',
    Helvetica, Arial, sans-serif;
}

html[dir='rtl'],
html[dir='rtl'] body {
    font-family: 'Vazirmatn', 'Arabic', 'Kermes', 'Vazirmatn', 'Baloo Bhaijaan 2',
    'Noto Naskh Arabic', sans-serif;
}

.en-font {
    font-family: 'Vazirmatn', 'Arabic', 'Kermes', 'Hind Madurai', 'Montserrat',
    Helvetica, Arial, sans-serif;
}

.ar-font {
    font-family: 'Vazirmatn', 'Arabic', 'Kermes', 'Vazirmatn', 'Baloo Bhaijaan 2',
    'Noto Naskh Arabic', sans-serif;
}

.number-font,
.form-control {
    font-family: 'Vazirmatn', 'Arabic', 'Kermes', 'Poppins', 'Inter', 'Chonburi',
    'Abril Fatface', 'Croissant One' !important;
}

.x-small {
    font-size: 0.775em;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: calc(var(--bs-gutter-x) * 0.75) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.75) !important;
}

.theme {
    color: rgba(51, 51, 51, 1);
}

label {
    font-weight: 300 !important;
}

header {
    margin: 0 0 50px 0;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    background-color: #fff;
}

main {
    padding-top: 130px;
    min-height: 800px;
}

.main-auth {
    padding: 0;
    min-height: auto;
}

footer {
    margin: 100px 0 0 0;
    padding: 30px 0 60px 0;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.form-select-lg,
.form-control-lg {
    font-size: 17px !important;
    height: 48px !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.3rem !important;
}

select.form-select:not([multiple]) {
    background-position: calc(100% - 0.7rem) 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzMzMyIgY2xhc3M9ImJpIGJpLWNoZXZyb24tZG93biIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMEw4IDEwLjI5M2w1LjY0Ni01LjY0N2EuNS41IDAgMCAxIC43MDguNzA4bC02IDZhLjUuNSAwIDAgMS0uNzA4IDBsLTYtNmEuNS41IDAgMCAxIDAtLjcwOCIvPgo8L3N2Zz4=);
    background-size: 14px 14px;
    font-weight: 500 !important;
}

.form-select-lg:not([multiple]) {
    background-size: 17px 17px !important;
    background-position: calc(100% - 1rem) 50% !important;
}

* {
    text-decoration: none !important;
    color: rgba(51, 51, 51, 1) !important;
}

hr {
    opacity: 0.1 !important;
    margin: 22px 0;
}

hr.dropdown-divider {
    opacity: 0.3 !important;
    margin: 10px 0 !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: transparent !important;
    font-weight: 700 !important;
}

.form-check-input {
    width: 1.3em;
    height: 1.3em;
    margin-top: 0.08em;
}

.form-check-input:checked {
    background-color: rgba(51, 51, 51, 1);
    border-color: rgba(51, 51, 51, 1);
}

.btn-outline-dark:hover {
    color: #fff !important;
}

.form-check-input:focus {
    border-color: rgba(51, 51, 51, 1);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(51, 51, 51, 0.6);
}

.dropdown-menu {
    border-color: rgba(51, 51, 51, 0.1) !important;
    border-radius: 10px !important;
    margin-top: 8px !important;
    box-shadow: none !important;
}

input,
selet {
    font-weight: 500 !important;
}

.dropdown-toggle::after {
    display: inline-block !important;
    font-family: bootstrap-icons !important;
    content: '\F282' !important;
    border: 0 !important;
    vertical-align: 0 !important;
    margin-left: 7px !important;
    position: relative !important;
    top: 2px !important;
    font-size: 14px;
}

.dropdown-toggle.show:after {
    content: '\F286' !important;
}

.select-filter {
    width: 100%;
    padding-right: 40px;
}

@media (min-width: 576px) {
    .select-filter {
        width: auto;
        padding-right: 80px;
    }
}

.delete {
    text-decoration: line-through !important;
}

.card {
    border-color: rgba(51, 51, 51, 0) !important;
    border-radius: 20px !important;
    --bs-card-spacer-y: 1.2rem !important;
    --bs-card-spacer-x: 1.2rem !important;
    height: 100%;
    background: #f5f5f5;
}

.card-h-auto {
    height: auto;
}

.card.disabled * {
    pointer-events: none;
    user-select: none;
}

.card .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (min-width: 992px) {
    .card-body {
        padding: 1.4rem 1.9rem;
    }
}

.card .card-img-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 140px !important;
    height: auto;
    max-height: 140px;
    min-width: 140px;
}

.card-img-wrapper {
    position: relative;
}

.card-price {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 12px 7px 17px;
    background-color: rgba(51, 51, 51, 1);
    color: #fff !important;
    border-top-left-radius: 19px;
    border-bottom-right-radius: 20px;
}

.card-sku {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 14px 4px 14px;
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff !important;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
}

.product-price {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 12px 7px 14px;
    background-color: rgba(51, 51, 51, 1);
    color: #fff !important;
    border-bottom-right-radius: 20px;
    font-size: 16px;
}

.card-link {
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: calc(100% - 2.4rem);
}

.cursor-default {
    cursor: default;
}

.card.card-auth,
.card.card-auth .card-header {
    height: auto;
    padding: 0 12px 20px 12px;
}

.card-actions {
    position: absolute;
    bottom: 7px;
    left: 20px;
    width: calc(100% - 40px);
}

.spinner {
    border: 6px solid rgba(51, 51, 51, 0.1);
    border-top: 6px solid rgba(51, 51, 51, 1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-border-cart {
    --bs-spinner-width: 1.4rem;
    --bs-spinner-height: 1.4rem;
    --bs-spinner-border-width: 0.16em;
    color: #fff !important;
    margin-top: 2px;
}

.dark .spinner-border-cart {
    color: #333 !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background: rgba(51, 51, 51, 0.1);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.4);
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 51, 51, 0.7);
    border-radius: 0;
}

.form-control::-webkit-scrollbar,
.form-control::-webkit-scrollbar-track,
.form-control::-webkit-scrollbar-thumb,
.form-control::-webkit-scrollbar-thumb:hover {
    width: 6px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 6px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 6px !important;
}

@media (min-width: 768px) {
    header {
        padding: 35px 0 35px 0;
    }

    main {
        padding-top: 165px;
    }

    .display-3 {
        font-size: 64px !important;
    }
}

.bg-dark {
    background-color: rgba(51, 51, 51, 1) !important;
}

.bg-dark * {
    color: #fff !important;
}

.form-check .form-check-input {
    margin-top: 0;
}

a.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.toast-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(51, 51, 51, 0.7);
    border-radius: 10px;
    padding: 3px 20px 8px 20px;
    text-align: center;
    color: #fff !important;
    font-weight: light !important;
    /* width: calc(100% - 40px); */
    min-width: 160px;
    z-index: 4;
}

.toast-product-cart {
    left: 35%;
    top: 35%;
}

.toast-product-pdp {
    position: fixed;
    left: 50%;
    top: 2.3%;
    z-index: 999999;
    min-width: 160px;
    padding-left: 30px;
    padding-right: 30px;
}

.toast-product-pdp.toast-product-pdp-error {
    width: calc(100% - 40px);
}

@media (min-width: 576px) {
    .toast-product-pdp.toast-product-pdp-error {
        width: auto;
    }
}

.toast-product-danger,
.toast-product-cart.toast-product-danger,
.toast-product-pdp.toast-product-danger {
    background: rgba(220, 53, 69, 0.7) !important;
    color: rgba(255, 255, 255, 1) !important;
}

.toast-product span {
    color: rgba(255, 255, 255, 1) !important;
}

.toast-product span::before {
    display: inline-block;
    font-family: bootstrap-icons;
    content: '\F26A';
    border: 0;
    vertical-align: 0;
    margin-right: 7px;
    position: relative;
    top: 4px;
    font-size: 18px;
}

.adding::before {
    content: '\F26A' !important;
}

.removing::before {
    content: '\F622' !important;
}

.warning::before {
    content: '\F332' !important;
}

.product-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product-img-layer-details {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.cart-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px;
    z-index: 3;
    top: 0;
    left: 0;
}

.item-img-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    min-height: 140px;
    min-width: 140px;
}

.truncate-one {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.truncate-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.modal .modal-header {
    border: none;
    padding-top: 20px;
}

.modal .modal-content {
    box-shadow: 0 0 6px rgba(64, 52, 42, 0.102);
    border: none;
    border-radius: 0;
}

.modal .modal-content > div {
    padding-left: 25px;
    padding-right: 25px;
}

.modal .modal-footer {
    border: none;
    justify-content: flex-start;
    padding-bottom: 25px;
}

@media (min-width: 768px) {
    .modal .modal-header {
        padding-top: 28px;
    }

    .modal .modal-content > div {
        padding-left: 35px;
        padding-right: 35px;
    }

    .modal .modal-footer {
        padding-bottom: 28px;
    }
}

@media (min-width: 576px) {
    .modal .modal-content {
        border-radius: 25px;
    }
}

.form-control:focus,
.form-select:focus {
    border-color: rgba(51, 51, 51, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(51, 51, 51, 0.6);
}

.form-control.border-danger:focus,
.form-select.border-danger:focus {
    border-color: rgba(220, 53, 69, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(220, 53, 69, 0.6);
}

@media (max-width: 576px) {
    .variant .form-select {
        padding: 0.5rem 2.25rem 0.5rem 0.75rem !important;
    }
}

.form-control::placeholder {
    color: rgba(51, 51, 51, 0.3);
}

.pagination {
    padding: 20px 0;
}

.pagination .page-item {
    margin: 10px 4px !important;
}

.pagination .page-item.active .page-link {
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1) !important;
    border: transparent;
}

.pagination .page-link {
    width: 42px !important;
    height: 42px !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
}

.pagination .page-link:focus {
    border-color: rgba(51, 51, 51, 0.21);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(51, 51, 51, 0.6);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 25px;
    background-color: rgba(255, 255, 255, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nIzMzMyc+PHBhdGggZD0nTTExLjM1NCAxLjY0NmEuNS41IDAgMCAxIDAgLjcwOEw1LjcwNyA4bDUuNjQ3IDUuNjQ2YS41LjUgMCAwIDEtLjcwOC43MDhsLTYtNmEuNS41IDAgMCAxIDAtLjcwOGw2LTZhLjUuNSAwIDAgMSAuNzA4IDB6Jy8+PC9zdmc+);
}

.carousel-control-next-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nIzMzMyc+PHBhdGggZD0nTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eicvPjwvc3ZnPg==);
}

/* dark mode */
.dark {
    background-color: rgba(71, 71, 71, 1);
}

.dark * {
    color: rgba(255, 255, 255, 1) !important;
}

.dark .text-danger {
    color: #dc3545 !important;
}

.dark .spinner {
    border: 6px solid rgba(255, 255, 255, 0.1);
    border-top: 6px solid rgba(255, 255, 255, 1);
}

.dark header,
.dark footer {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.dark .card {
    background-color: rgba(51, 51, 51, 1);
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.dark .card-price {
    background-color: rgba(51, 51, 51, 1);
}

.chart ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

.chart ::-webkit-scrollbar-track {
    border-radius: 6px;
}

.chart ::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

.chart ::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
}

.dark::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1) !important;
}

.dark::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3) !important;
}

.dark::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6) !important;
}

.dark .chart ::-webkit-scrollbar-track {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1) !important;
}

.dark .chart ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3) !important;
}

.dark .chart ::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.6) !important;
}

.dark header {
    background-color: rgba(71, 71, 71, 1);
}

.dark .modal .modal-content {
    background-color: rgba(51, 51, 51, 1);
}

.dark .form-control {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(51, 51, 51, 1);
}

.dark .form-select {
    border-color: rgba(255, 255, 255, 0.3);
}

.dark .form-control::placeholder {
    color: rgba(255, 255, 255, 0.3) !important;
}

.dark .form-control:focus,
.dark .form-select:focus {
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075),
    0 0 8px rgba(255, 255, 255, 0.6);
}

.dark .btn-dark {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 51, 51, 1) !important;
}

/* .dark .btn-dark:hover {
  background-color: rgba(25, 25, 25, 1) !important;
} */

.dark .btn-outline-dark:hover {
    background-color: #fff !important;
    color: rgba(51, 51, 51, 1) !important;
}

.dark .btn-outline-dark {
    border-color: #fff !important;
}

.dark .form-check-input {
    background-color: rgba(51, 51, 51, 1) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.dark .form-check-input:checked {
    background-color: rgba(255, 255, 255, 1) !important;
    border-color: rgba(255, 255, 255, 1) !important;
}

.dark .form-check-input:focus {
    border-color: rgba(51, 51, 51, 1);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(51, 51, 51, 0.6);
}

.dark .form-check-input:checked[type='checkbox'] {
    --bs-form-check-bg-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjMzMzJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMycgZD0nbTYgMTAgMyAzIDYtNicvPjwvc3ZnPg==') !important;
}

.dark .dropdown-menu {
    background-color: rgba(51, 51, 51, 1) !important;
    /* border-color: rgba(255, 255, 255, 0.05) !important; */
}

.dark hr.dropdown-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.dark select,
.dark input {
    background-color: transparent !important;
}

.dark select.form-select:not([multiple]) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiIgY2xhc3M9ImJpIGJpLWNoZXZyb24tZG93biIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMEw4IDEwLjI5M2w1LjY0Ni01LjY0N2EuNS41IDAgMCAxIC43MDguNzA4bC02IDZhLjUuNSAwIDAgMS0uNzA4IDBsLTYtNmEuNS41IDAgMCAxIDAtLjcwOCIvPgo8L3N2Zz4=);
}

pre {
    border-radius: 20px;
}

.dark pre {
    background-color: rgba(51, 51, 51, 1) !important;
}

.dark pre * {
    color: rgba(255, 255, 255, 1) !important;
}

.dark .pagination .page-item .page-link {
    background-color: rgba(71, 71, 71, 1);
    border-color: rgba(255, 255, 255, 0.3);
}

.dark .pagination .page-item.active .page-link {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(51, 51, 51, 1) !important;
    border: transparent;
}

.dark .pagination .page-link {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark .pagination .page-link:hover {
    background-color: rgba(51, 51, 51, 1);
}

.dark .pagination .page-link:focus {
    border-color: rgba(255, 255, 255, 0.21);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075),
    0 0 8px rgba(255, 255, 255, 0.6);
}

.dark .toast-product-cart {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(51, 51, 51, 1) !important;
    z-index: 9999;
}

.dark .toast-product-danger,
.dark .toast-product-cart.toast-product-danger,
.dark .toast-product-pdp.toast-product-danger {
    background: rgba(220, 53, 69, 0.7) !important;
    color: rgba(255, 255, 255, 1) !important;
}

.dark .cart-layer {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.dark .toast-product-cart span {
    color: rgba(51, 51, 51, 1) !important;
}

.dark .toast-product-danger span {
    color: rgba(255, 255, 255, 1) !important;
}
.dark select option {
    background-color: rgba(71, 71, 71, 1) !important;
}

.variant .title {
    margin: 20px 0 10px 0;
}

.variant .variants {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.variant .variants span {
    margin-bottom: 8px;
}

.variant .variants-reverse {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.variant .variants-reverse span {
    margin-bottom: 4px;
}

.variant .variants-reverse span label {
    padding-left: 4px;
}

.variant.swatch .variants span {
    border: 1px solid #efefef;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}

.variant.swatch .variants .active::before {
    display: inline-block;
    font-family: bootstrap-icons;
    content: '\F272';
    position: relative;
    left: 5px;
    top: 3px;
    font-size: 15px;
    color: #fff;
}

.variant.rectangles .variants span {
    border: 1px solid #eee;
    padding: 6px 14px 4px 14px;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.variant.rectangles .variants span:hover,
.variant.rectangles .variants .active {
    background-color: rgba(51, 51, 51, 0.1);
    color: rgba(51, 51, 51, 1);
}

.quantity-counter .counter {
    margin: -2px 9px 0 9px !important;
}

@media (min-width: 768px) {
    .quantity-counter .bi {
        font-size: 26px !important;
    }
}

.dark .variant.rectangles span:hover,
.dark .variant.rectangles .active {
    background-color: rgba(51, 51, 51, 1) !important;
    color: rgba(255, 255, 255, 1) !important;
}

.dark .form-check-input:checked {
    background-color: rgba(51, 51, 51, 1) !important;
    border-color: rgba(255, 255, 255, 1) !important;
}

.dark .form-check-input[type='radio'] {
    background-color: transparent !important;
}

.dark .form-check-input:checked[type='radio'] {
    background-color: #fff !important;
    --bs-form-check-bg-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9Jy00IC00IDggOCc+PGNpcmNsZSByPScyJyBmaWxsPScjMzMzJy8+PC9zdmc+);
    background-size: 22px 22px !important;
}

.dark .form-check-input[type='checkbox'] {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
}

.dark .form-check-input:checked[type='checkbox'] {
    background-color: #fff !important;
    /* --bs-form-check-bg-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjZmZmJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMycgZD0nbTYgMTAgMyAzIDYtNicvPjwvc3ZnPg==) !important; */
}

.dark .btn .bi {
    color: rgba(51, 51, 51, 1) !important;
}

.dark input[type='week'],
.dark input[type='month'],
.dark input[type='date'] {
    background: transparent;
}

input[type='week' i]::-webkit-calendar-picker-indicator {
    block-size: 1.2em;
    inline-size: 1.2em;
    margin-right: -2px;
}

.dark input[type='week' i]::-webkit-calendar-picker-indicator {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJ3aGl0ZSIgZD0iTTIwIDNoLTFWMWgtMnYySDdWMUg1djJINGMtMS4xIDAtMiAuOS0yIDJ2MTZjMCAxLjEuOSAyIDIgMmgxNmMxLjEgMCAyLS45IDItMlY1YzAtMS4xLS45LTItMi0yem0wIDE4SDRWOGgxNnYxM3oiLz4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+Cjwvc3ZnPgo=);
}

.chart svg {
    border-radius: 20px !important;
}

/* .chart svg rect {
  fill: rgba(51, 51, 51, 0.05) !important;
} */

.weekRangeBar {
    position: relative;
    width: 65px;
    height: 20px;
    margin: 0 10px;
}

.weekRangeBarSeparator {
    position: absolute;
    top: -6px;
    width: 2px;
    height: 32px;
    background-color: #666;
    zindex: 1000;
}

.dark .weekRangeBarSeparator {
    background-color: #fff;
}

@media (min-width: 992px) {
    .weekRangeBar {
        width: 100px;
    }
}

input[type='text'] {
    font-size: 18px !important;
}

.display-3 {
    font-size: 54px;
}

@media (max-width: 991.98px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

.clear {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.875rem;
}

.clear::before {
    display: inline-block;
    font-family: bootstrap-icons;
    content: '\F659';
    border: 0;
    vertical-align: 0;
    margin-right: 4px;
    position: relative;
    top: -1px;
    font-size: 14px;
}

.drawer > ::before {
    display: inline-block;
    font-family: bootstrap-icons;
    content: '\F2E6';
    border: 0;
    vertical-align: 0;
    margin-right: 10px;
    position: relative;
    top: 5px;
    font-size: 22px;
}

.drawer.collapsed > ::before {
    content: '\F4FA';
}

.drawer-chevron > ::after {
    display: inline-block;
    font-family: bootstrap-icons;
    content: '\F286';
    border: 0;
    vertical-align: 0;
    margin-left: 6px;
    position: relative;
    top: 3px;
    font-size: 14px;
}

.drawer-chevron.collapsed > ::after {
    content: '\F282';
}

.field-group {
    position: relative;
}

.field-group .field-group-start {
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    opacity: 0.7;
    padding-left: 10px;
    position: absolute;
    left: 6px;
    /* top: 10px; */
    top: 10px;
}

.field-group .field-group-end {
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    opacity: 0.7;
    padding-right: 10px;
    position: absolute;
    right: 6px;
    /* top: 10px; */
    top: 11px;
}

.field-group .field-group-start.field-group-start-small,
.field-group .field-group-end.field-group-end-small {
    font-size: 16px;
    /* top: 13px; */
    top: 13px;
}

.doughnut-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
    pointer-events: none;
}

.legend {
    width: 1.075rem;
    height: 1.075rem;
    border-radius: 50%;
    border: 1px solid transparent;
    flex-shrink: 0;
    margin-top: -2px;
}

/* .principal-interest-legend {
  background-color: #64acdb;
}
.property-tax-legend {
  background-color: #f8c268;
}
.homeowners-insurance-legend {
  background-color: #b57edc;
}
.pmi-legend {
  background-color: #6fd2df;
}
.hoa-legend {
  background-color: #f4609f;
} */

@media (max-width: 575.98px) {
    .w-sm-100 {
        width: 100% !important;
    }
}

.breakdown-input {
    max-width: 155px;
}

.breakdown-input input {
    width: 155px;
}

@media (min-width: 576px) {
    .breakdown-input {
        max-width: 170px;
    }

    .breakdown-input input {
        width: 170px;
    }
}

.form-control:disabled {
    background: #e1e1e133 !important;
}

.dark .form-control:disabled {
    background: #555555aa !important;
}

.load-amount-header {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 4px 0 0 0;
}

.load-amount {
    min-width: 100px;
    padding: 10px 16px 6px 16px;
    border-radius: 6px;
    /* background-color: #e11d48; #059669; */
    color: #fff !important;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
}

/* .dark .load-amount {
  background-color: #fff !important;
  color: #333 !important;
} */

/* html[dir='rtl'] {
  direction: rtl !important;
  text-align: right !important;
} */

.currency-input {
    padding-left: 32px;
    padding-right: 80px;
}

.percentage-input {
    padding-right: 40px;
}

.currency-input-small {
    padding-left: 32px;
    padding-right: 60px;
}

.currency-input-left {
    padding-left: 32px;
}

/* TRL */
.rtl-flip {
    transform: scaleX(-1);
    display: inline-block; /* Required to make transform work properly */
}

html[dir='rtl'] .drawer > ::before {
    margin-right: initial;
    margin-left: 10px;
    top: 6px;
}

html[dir='rtl'] .drawer-chevron > ::after {
    margin-left: initial;
    margin-right: 6px;
}

html[dir='rtl'] .clear::before {
    margin-right: initial;
    margin-left: 4px;
    top: 0px;
}

html[dir='rtl'] .form-select {
    padding: 0.375rem 0.85rem 0.375rem 2.25rem;
}

html[dir='rtl'] .form-select-lg:not([multiple]) {
    background-position: calc(1rem) 50% !important;
}

html[dir='rtl'] .field-group .field-group-start {
    padding-left: initial;
    left: initial;
    padding-right: 10px;
    right: 6px;
    top: 10px;
}

html[dir='rtl'] .field-group .field-group-end {
    padding-right: initial;
    right: initial;
    padding-left: 10px;
    left: 6px;
    top: 11px;
}

html[dir='rtl'] .field-group .field-group-start.field-group-start-small,
html[dir='rtl'] .field-group .field-group-end.field-group-end-small {
    top: 13px;
}

html[dir='rtl'] .currency-input {
    padding-left: 80px;
    padding-right: 32px;
}

html[dir='rtl'] .percentage-input {
    padding-right: 0.75rem;
    padding-left: 32px;
}

html[dir='rtl'] .currency-input-left {
    padding-left: initial;
    padding-right: 32px;
}

html[dir='rtl'] .currency-input-small {
    padding-left: 60px;
    padding-right: 32px;
}

html[dir='rtl'] .form-check .form-check-input {
    float: right;
    margin-left: 0.5em;
    position: relative;
    top: 1px;
}

html[dir='rtl'] .form-check {
    padding-left: 0;
}

/*
html[dir='rtl'] .load-amount {
  padding: 10px 12px 4px 12px;
} */

/* html[dir='rtl'] .load-amount-header {
  margin: 0 0 4px 0;
} */

/* @media (max-width: 575.98px) {
  html[dir='rtl'] .small-sm {
    font-size: 0.925em;
  }
} */

label {
    margin-left: 2px;
}

html[dir='rtl'] label {
    margin-left: initial;
    margin-right: 2px;
}

.drawer-title {
    font-size: 1.15rem;
}

.link-dotted {
  text-decoration-line: underline !important;
  text-decoration-style: dotted !important;
  text-decoration-thickness: 1px !important;
  text-decoration-color: currentColor !important;
  text-underline-offset: 3px !important; /* increase space */
  font-weight: 100 !important;
}